.miloner-box{
    border: 1px solid;
    text-align: center;
    width: 296px;
    padding: 10px;
    height: 515px;
    margin: auto;
}

*{
    text-decoration: none;
}

.milionphoto{
    width: 300px;
}

.money1{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 27px;
    align-items: center;
    background-color: rgba(32, 57, 96, 1);
    color: aliceblue;
}

.money2{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 27px;
    align-items: center;
    background-color: rgba(32, 57, 96, 1);
    color: aliceblue;
}
.money3{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 27px;
    align-items: center;
    background-color: rgba(32, 57, 96, 1);
    color: aliceblue;
}

.money4{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 27px;
    align-items: center;
    background-color: rgba(32, 57, 96, 1);
    color: aliceblue;
}

.money5{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 27px;
    align-items: center;
    background-color: rgba(32, 57, 96, 1);
    color: aliceblue;
}

.manys{
    display: flex;
    gap: 3px;
    flex-direction: column;
    margin-top: 20px;
}